<h1 class="title is-1">Car creation</h1>
<form name="carCreate" novalidate method="POST">
    
    <div class="field">
        <label class="label" for="brand">Brand : </label>
        <div class="control has-icons-right">
            
            <input id="brand" class="input {{cBrandValidCSSClass}}" ng-minlength="2" name="cBrand" ng-model="car.brand" ng-blur="checkFieldValidity(carCreate.cBrand)" required/>

            <span ng-show="carCreate.cBrand.$untouched" class="icon is-small is-right">
                <i class="fas fa-exclamation"></i>
            </span>
            
            <car-icon-success-directive ng-show="carCreate.cBrand.$valid && carCreate.cBrand.$touched">
            </car-icon-success-directive>

            <car-icon-fail-directive ng-show="carCreate.cBrand.$invalid && carCreate.cBrand.$touched">
            </car-icon-fail-directive>
        </div>
        
        <div ng-show="carCreate.cBrand.$touched"  ng-model-options="{ updateOn : 'blur'}"><!--carCreate.$submitted || -->
            <!-- {{carCreate.cBrand.$error.minlength}} -->
            <div ng-show="carCreate.cBrand.$error.minlength" class="help {{cBrandValidCSSClass}}">Brand too short</div>
            <div ng-show="carCreate.cBrand.$error.required" class="help {{cBrandValidCSSClass}}">Please enter a brand</div>
        </div>
    </div>
    <br/>
    
    <div class="field">
        
        <label class="label" for="model">Model : </label>
        <div class="control has-icons-right">
            <input class="input {{modelValidCSSClass}}" id="model" name="model" ng-model="car.model" ng-blur="checkFieldValidity(carCreate.model)" required/>
            
            <span ng-show="carCreate.model.$untouched" class="icon is-small is-right">
                <i class="fas fa-exclamation"></i>
            </span>
            
            <car-icon-success-directive ng-show="carCreate.model.$valid && carCreate.model.$touched">
            </car-icon-success-directive>
            
            <car-icon-fail-directive ng-show="carCreate.model.$invalid && carCreate.model.$touched">
            </car-icon-fail-directive>
        </div>
        <div ng-show="carCreate.model.$touched"><!--carCreate.$submitted || -->
            <div ng-show="carCreate.model.$error.required" class="help {{modelValidCSSClass}}">Please enter a model</div>
        </div>
    </div>
    <br/>
    
    <div class="field">
        <label class="label" for="price">Price : </label>
        <div class="control has-icons-right">
            <input class="input {{priceValidCSSClass}}" type="number" min="1" id="price" name="price" ng-model="car.price" ng-blur="checkFieldValidity(carCreate.price)" required/>
            
            <span ng-show="carCreate.price.$untouched" class="icon is-small is-right">
                <i class="fas fa-exclamation"></i>
            </span>
            
            <car-icon-success-directive ng-show="carCreate.price.$valid && carCreate.price.$touched">
            </car-icon-success-directive>
            
            <car-icon-fail-directive ng-show="carCreate.price.$invalid && carCreate.price.$touched">
            </car-icon-fail-directive>
        </div>

        <div ng-show="carCreate.price.$touched"><!--carCreate.$submitted || -->
            <div ng-show="carCreate.price.$error.min" class="help {{priceValidCSSClass}}">Please enter a price upper than 0</div>
            <div ng-show="carCreate.price.$error.required" class="help {{priceValidCSSClass}}">Please enter a price </div>
        </div>
    </div>
    <br/>
    
    <div class="field">

        <label class="label" for="horsePower">Horsepower : </label>
        <div class="control has-icons-right">
            <input class="input {{horsePowerValidCSSClass}}" type="number" min="1" id="horsePower" name="horsePower" ng-blur="checkFieldValidity(carCreate.horsePower)" ng-model="car.horsePower" required/>
            
            <span ng-show="carCreate.horsePower.$untouched" class="icon is-small is-right">
                <i class="fas fa-exclamation"></i>
            </span>
            
            <car-icon-success-directive ng-show="carCreate.horsePower.$valid && carCreate.horsePower.$touched">
            </car-icon-success-directive>
            
            <car-icon-fail-directive ng-show="carCreate.horsePower.$invalid && carCreate.horsePower.$touched">
            </car-icon-fail-directive>
        </div>

        <div ng-show="carCreate.horsePower.$touched"><!--carCreate.$submitted || -->
            <div ng-show="carCreate.horsePower.$error.min" class="help {{horsePowerValidCSSClass}}">Please enter a horsepower upper than 1</div>
            <div ng-show="carCreate.horsePower.$error.required" class="help {{horsePowerValidCSSClass}}">Please enter a horsepower</div>
        </div>
    </div>
    <br/>

    <div class="field">

        <label class="label" for="seats">N° seats : </label>
        <div class="control has-icons-right">

            <input class="input {{nbSeatsValidCSSClass}}" type="number" min="2" max="9" id="seats" name="nbSeats" ng-model="car.nbSeats" ng-blur="checkFieldValidity(carCreate.nbSeats)" required/>
            <span ng-show="carCreate.nbSeats.$untouched" class="icon is-small is-right">
                <i class="fas fa-exclamation"></i>
            </span>
            
            <car-icon-success-directive ng-show="carCreate.nbSeats.$valid && carCreate.nbSeats.$touched">
            </car-icon-success-directive>
            
            <car-icon-fail-directive ng-show="carCreate.nbSeats.$invalid && carCreate.nbSeats.$touched">
            </car-icon-fail-directive>
        </div>
        <div  ng-show="carCreate.nbSeats.$touched"><!--carCreate.$submitted || -->
            <div ng-show="carCreate.nbSeats.$error.max" class="help {{nbSeatsValidCSSClass}}">Please enter a number of seats less than 9</div>
            <div ng-show="carCreate.nbSeats.$error.min" class="help {{nbSeatsValidCSSClass}}">Please enter a number of seats upper than 2</div>
            <div ng-show="carCreate.nbSeats.$error.required" class="help {{nbSeatsValidCSSClass}}">Please enter a number</div>
        </div>
    </div>
    <br/>
    
    <div class="field">

        <label class="label" for="weight">Weight : </label>
        <div class="control has-icons-right">
            <input class="input {{weightValidCSSClass}}" type="number" id="weight" name="weight" ng-model="car.weight" ng-blur="checkFieldValidity(carCreate.weight)" required/>

            <span ng-show="carCreate.weight.$untouched" class="icon is-small is-right">
                <i class="fas fa-exclamation"></i>
            </span>
            
            <car-icon-success-directive ng-show="carCreate.weight.$valid && carCreate.weight.$touched">
            </car-icon-success-directive>
            
            <car-icon-fail-directive ng-show="carCreate.weight.$invalid && carCreate.weight.$touched">
            </car-icon-fail-directive>
        </div>
        <div ng-show="carCreate.$submitted || carCreate.weight.$touched">
            <div ng-show="carCreate.weight.$error.required" class="help {{weightValidCSSClass}}">Please enter a value</div>
        </div>
    </div>
    <br/>
        
    <button ng-click="submitCarCreateValues(car)" class="button is-success">Create car</button>
    <button ng-click="resetCarCreateForm(carCreate)" class="button is-warning">Rest car form</button>
</form>